.add-nav{
    background-color:white;
}
.add-all-services-btn{
    background-color: black !important;
}
.add-all-services-btn:hover{
    background-color: #b4cd29 !important;
}

.review{
    width: 45%;
    margin: 2.5%;
}
@media(max-width:1200px){
    .review{
        width: 100%;
    }
}

.custom-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* .ttm-stickable-header-w{
    background-image: url(../royal-imgs/slide2.avif) !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100% !important;
} */

/* .new-font{
    font-family:Georgia, 'Times New Roman', Times, serif;
} */

#menu ul li a{
    text-transform: uppercase !important;
}
