/* .new-nav{
    background-color: maroon;
    display: flex;
    
    justify-content: center;
} */
/* @media (max-width: 1199px){
    .new-nav{
        display: none;
    }
} */
/* @media (min-width: 1200px){
    .site-branding{
        display: none !important;
    }
    .site-header-main{
        display: flex;
        justify-content: center !important;
       
    }
} */
/* .top-nav{
    background-color: rgb(240, 229, 204);
    line-height: 3;
    display: flex;
  
    align-items: center !important;
    justify-content: space-between;
} */
/* @media  (min-width: 768px){
    .footer-contact{
        text-align: right !important;
}

} */

/* side-icons */

.side-icons {
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 88% !important;
    margin-right: 10px;
    box-shadow: none !important;

}

.side-icons .inner-side-icon a {
    height: 100%;
    display: flex !important;
    width: 100%;
    /* background: #fff; */
    background-color: rgba(0, 0, 0, 0.63) !important;
    /* padding: 0px !important; */
    border-radius: 25px;
    padding: 10px !important;

}
.side-icons .inner-side-icon a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    
}
.side-icons .inner-side-icon a p:hover {
   
    color: black !important;
}


.side-icons .inner-side-icon p {
    margin: 0;
    margin-left: 10px;
    display: flex !important;
    align-items: center !important;
    color: white;
}

.side-icons .inner-side-icon a i {
    font-size: 30px !important
    
}

.side-icons .inner-side-icon a i.fa-whatsapp {
    /* font-size: 30px !important; */
    font-size: 50px !important;
    color: #4fce5d;
}

.side-icons .inner-side-icon:first-child a {
    border-bottom: 1px solid transparent !important;


}

.footer-contact{
text-align:right;
}

@media  (max-width: 768px) {
    .top-nav{
        font-size: small;
    }
    .footer-end{
        text-align: center !important;
    }
    .footer-contact{
        text-align:center ;
        }
        .carousel-text p{
            font-size: small;
        }
        
}
/* .page1{
    background-color: rgb(240, 229, 204);
}
.main-top-nav{
    display: flex;
   
}
.nav-icon{
    margin-top: 2px;
    color: #ffffff; 
}
.nav-icon-div{
    height: 35px;
    width: 35px;
    background-color: rgb(95, 99, 99);
    border-radius: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5px !important;

}
#nav-contact{
    color:rgb(95, 99, 99) ;
    font-weight:900 !important;
}
#nav-contact:hover{
    color:white !important;
}
.nav-icon-div:hover{
    background-color: #dbac60 ;
}
.nav-icon:hover{
    color: white ;
}

.add-nav{
    background-color:white;
}
.add-all-services-btn{
    background-color: black !important;
} */
.add-all-services-btn:hover{
    background-color:  #dbac50 !important;
}

.review{
    width: 45%;
    margin: 2.5%;
}
@media(max-width:1200px){
    .review{
        width: 100%;
    }
}

.custom-shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#menu ul li a{
    text-transform: uppercase !important;
    
   
}


.main-nav{
    
    background-color:maroon !important;
    /* letter-spacing: 2px; */
   
   
}



/* about page */

.bg-img{
    background: url(../royal-imgs/Slides/7.jpg);
    background-size: cover;
    
}
/* .bg-img a{
    letter-spacing: 2px;
} */

/* contact us */
.ttm-textcolor-white a:hover{
 color: white !important;
}

.add-font{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.img-slide{
    filter: blur(5px);
  
}

.slider-text{
    position: relative;
bottom: 50%;
 text-align: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
  }
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-align: center;
    font-size: 50px;
    line-height: 1;
  }
.end-logo{
    display: flex;
    justify-content: center;
}
.footer-end{
    padding: 50px 0 50px 0;
}
.Copyright1{
    background-color: rgb(240, 229, 204) !important;
    color: #808369 !important;
}
.ttm-bgcolor-new{
    color: black !important;
    background-color: rgb(240, 229, 204) !important;
}

/* ---------slide-zoom effect------- */
@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.5, 1.5);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
  
  .carousel-inner .item > img {
    -webkit-animation: zoom 10s;
    animation: zoom 10s;
  }
  /* .carousel-inner .item p {
    -webkit-animation: zoom 10s;
    animation: zoom 10s;
  } */
  /* ---------slide-zoom effect------- */
